asgiref==3.11.1
asttokens==3.0.1
boto3==1.43.95
botocore==1.43.95
colorama==0.4.6
decorator==5.3.1
Django==5.2.12
django-cors-headers==4.9.0
django-extensions==4.1
django-storages==1.14.6
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-nested-routers==0.95.0
executing==2.2.1
gunicorn==26.2.0
ipython==9.14.1
ipython_pygments_lexers==1.1.1
jedi==0.20.0
jmespath==1.1.0
matplotlib-inline==0.2.2
parso==0.8.7
pillow==12.3.0
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg==3.3.6
psycopg-binary==3.3.6
psycopg2-binary==2.9.12
pure_eval==0.2.3
Pygments==2.20.0
PyJWT==2.12.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.3
rest-framework-simplejwt==0.0.2
s3transfer==0.19.2
six==1.17.0
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.15.1
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.8.0
wcwidth==0.8.1
whitenoise==6.12.0
